<%= form_tag transaction_index_path, :method => :get do %>
    <label>Insert transaction id: </label>
    <input id="transaction_id" name="transaction_id" type="text">

    <%= submit_tag('Retrieve') %>
<% end %>

<% if @transaction.present? %>
    <label><%= @transaction.to_json %></label>
<% end %>