<%= form_tag refund_index_path, :method => :post do %>
    <label>Insert Transaction id you want to refund: </label>
    <input id="transaction_id" name="transaction_id" type="text">

    <%= submit_tag('Refund Transaction') %>
<% end %>

<label><%= flash[:notice] if flash[:notice] %></label>
